/*
.changa-one-regular {
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.changa-one-regular-italic {
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: italic;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.alumni-sans-<uniquifier> {
  font-family: "Alumni Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  */

h1 {
    font-family: "Changa One", sans-serif;
    font-style: italic;
}

h2 {
    font-family: "Alumni Sans", sans-serif;
    font-size: 28px;
    text-transform: uppercase;
}

h3 {
    font-family: "Alumni Sans", sans-serif;
    font-size: 22px;
}

nav {
    background-color: #000000;
    color: #ffd132;
    background-image: url(../images/flag.png);
    padding: 15px 25px;
    border-bottom: 10px solid #b80525;
}

nav a {
    font-family: "Alumni Sans", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    padding: 8px 24px;
}

.hero-image {
    width: 100%;
    height: 690px;
    background-image: url("../images/phil-ry-image-edit2.png");
    border-bottom: 10px solid #ffffff;
}

.about-paragraph {
    padding: 100px 200px;
    color: white;
    background-color: #171717;
    font-family: "Alumni Sans", sans-serif;
    font-size: 23px;
}

.footer {
    width: 100%;
    height: 40px;
    background-color: #ffd132;
}

/*Below is for Resume Page*/
.column {
    float: left;
    padding: 10px;
    height: 300px;
    /* Should be removed. Only for demonstration */
}

.column img {
    border-radius: 50%;
}

.left {
    width: 70%;
    height: auto;
    background-color: #171717;
    color: #ffffff;
    padding: 20px 50px;
}

.right {
    width: 30%;
    height: auto;
    background-color: #ffd132;
    background-image: url(../images/phillip-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*For Resume Page*/
.resume {
    font-family: "Alumni Sans", sans-serif;
    font-size: 23px;
}

/*For Clips Page*/
.clips {
    background-color: #171717;
}

.heading {
    padding: 90px;
    text-align: center;
}

.clips h2 {
    color: #ffd132
}

.youtube-video-container {
    position: relative;
    overflow: hidden;
    width: 85%;
}

.youtube-video-container::after {
    display: block;
    content: "";
    padding-top: 56.25%;
    /* This value maintains the 16:9 aspect ratio */
}

.youtube-video-container iframe {
    position: absolute;
    top: 0;
    left: 14%;
    width: 100%;
    height: 100%;
}

.clips {
    padding: 40px 0px;
}

/*For Contact Page*/
.contact-page {
    background-color: #171717;
}

.myinfo {
    text-align: center;
}

.myinfo h2 {
    color: #b80525;
}

.myinfo h4 {
    color: #ffd132;
    font-family: "Alumni Sans", sans-serif;
    font-size: 23px;
}
